
.NavBar {
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    background-color : black;
}

.links {
    display     : flex;
    align-items : center;
}

.NavBarLink {
    color           : #dbdbdb;
    padding         : 10px;
    text-decoration : none;
}

.NavBarLinkActive {
    color           : #ffffff;
    padding         : 10px;
    text-decoration : none;
}

.profile {
    padding : 0;
}

.auth {
    color: white;
    margin : 10px;
}

.auth span {
    padding : 5px;
    margin : 5px;
    border: thin solid white;
    border-radius: 5px;
    font-size : 10px;
}